<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="<%= CONF[:description] %>" />
    <meta name="keywords" content="<%= CONF[:keywords].join(', ') %>" />
    <link rel="icon" href="/favicon.ico" />
    <title><%= @title %></title>
    <%= stylesheet_link_tag 'public' %>
    <%= stylesheet_link_tag 'jquery.fancybox' %>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'jquery.carouFredSel' %>
    <%= javascript_include_tag 'jquery.fancybox-1.3.4' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  </head>
  <body>
    <div class="document clearfix">
      <%= image_tag('banner.png', alt: 'La ferronnerie de Jean Paul Carey.') %>
      
      <div class="sidebar">
        <%= render partial: "public/sidebar" %>
      </div>

      <div class="content">
        <%= yield %>
      </div>
    </div>
    <div class="footer">
      <%= "© Copyright #{Date.today.year} - CareyFer - Jean Paul Carey" %>
    </div>
  </body>
</html>